@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;900&display=swap");

.input {
  display: none;
  font-family: "Montserrat Alternates", sans-serif;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;
  padding-bottom: 16px;
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  &-text {
    color: black;
    text-align: center;
    height: 30px;
    border: 0;
    background: none;
    border-bottom: 1px solid black;

    &::placeholder {
      color: black;
      text-align: center;
    }
    &:focus {
      outline: none;
      box-shadow: 0 20px 20px -8px rgba(0, 0, 0, 1);
    }
  }
  &-button {
    margin-top: 16px;
    box-shadow: 0 20px 20px -8px rgba(0, 0, 0, 1);
    background: none;
    border: black 1px solid;
  }
}
