@import "~normalize.css";
@import "_variables";
@import "modules/search.scss";
@import "modules/images.scss";
@import "modules/hero_image.scss";

body {  
  color: #fff; 
  min-height: 100vh;   
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
